### AmbitionBox

In [19]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
import requests
warnings.filterwarnings("ignore")
import time

driver = webdriver.Chrome(r'C:\Users\hp\Downloads\chromedriver_win32 (1)\chromedriver.exe')
url= 'https://www.ambitionbox.com/'
driver.get(url)
job = driver.find_element_by_xpath('//a[@class="link jobs"]').click()
time.sleep(2)
search = driver.find_element_by_xpath('//input[@title="Enter Designation, Company or a Skill"]')
search.send_keys("Data Scientist")
driver.find_element_by_xpath('//button[@class="ab_btn search-btn round"]').click()

time.sleep(2)
# location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]')
# location.click()

In [20]:
# clicking dropdown for location
location = driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]')
location.click()

In [21]:
#send value for location as Noida
search1 = driver.find_element_by_xpath('//input[@placeholder="Search locations"]')
search1.send_keys("Noida")

In [22]:
#select "Noida" location
search2 = driver.find_element_by_xpath('//label[@for="location_Noida"]')
search2.click()

In [23]:
#
titles=[]
title = driver.find_elements_by_xpath('//a[@class="title noclick"]')
for i in title:
    titles.append(i.text)
titles

['Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'EY GDS - Assistant Director - Data Science - AI/ML (15-20 yrs)',
 'Opportunity | Tavant India',
 'Looking For Senior Data Scientist For Denave',
 'Lead Assistant Manager',
 'CogniTensor - Data Scientist (1-2 yrs)',
 'Data Scientist | Data Engineer | Machine Learning',
 'Data Scientist - Machine Learning (5-14 yrs)',
 'Manager Data Scientist']

In [44]:
import re 
dates=[]
date = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
for j in date:
    dates.append(j.text)


len(dates)
def Filter(dates, substr):
    substr = ['ago']
    return [str for str in dates if
             any(sub in str for sub in substr)]
a=[]
a=(Filter(dates, substr))
a

['17d ago',
 '30d ago',
 '1mon ago',
 '11d ago',
 '11d ago',
 '24d ago',
 '5d ago',
 '1mon ago',
 '9d ago',
 '1mon ago']

In [7]:
rating=[]
rate = driver.find_elements_by_xpath('//span[@class="body-small"]')
for k in rate:
    rating.append(k.text)
rating

['3.9', '3.8', '3.7', '4.0', '4.0', '3.8', '3.8', '4.2', '4.1', '4.0']

In [45]:
data = pd.DataFrame()
data['Title']=titles
data['Job Posted On']=a
data['Rating']=rating
data

                                               Title Job Posted On Rating
0                                     Data Scientist       17d ago    3.9
1      Urgent Requirement || Data Scientist || Noida       30d ago    3.8
2  EY GDS - Assistant Director - Data Science - A...      1mon ago    3.7
3                         Opportunity | Tavant India       11d ago    4.0
4       Looking For Senior Data Scientist For Denave       11d ago    4.0
5                             Lead Assistant Manager       24d ago    3.8
6             CogniTensor - Data Scientist (1-2 yrs)        5d ago    3.8
7  Data Scientist | Data Engineer | Machine Learning      1mon ago    4.2
8       Data Scientist - Machine Learning (5-14 yrs)        9d ago    4.1
9                             Manager Data Scientist      1mon ago    4.0